<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Music player</title>
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="icon" type="image/png" href="../pngwing.com.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div align="center">
    <h1>Музыка</h1>
    <div class="line"></div>
    
    
    <div>
        <input class="music_btn" type="button" id="0" value="Andy_Panda_-_Kokon_61906151.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="1" value="Miyagi_-_aya_47829534.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="2" value="Miyagi_-_Hajime_47829390.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="3" value="Miyagi_-_Kolibri_64629385.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="4" value="Miyagi_-_Kosandra_68398364.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="5" value="Miyagi_-_Polovina_moya_47829394.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="6" value="Miyagi_-_Samurajj_65373353.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="7" value="Miyagi_Kadi_-_Rodnaya_pojj_60277327.mp3">
    </div>
    
    
    <div>
        <input class="music_btn" type="button" id="8" value="Miyagi_Rem_Digga_-_I_Got_Love_47828425.mp3">
    </div>
    
    
</div>
<div class="navbar">
    <div class="line" style="width: 100% !important;"></div>
    <button class="btn_control"><img src="../before.png" id="bfr" alt="before"></button>
    <button class="btn_control"><img src="../pause.png" id="p_s" alt="pause"></button>
    <button class="btn_control"><img src="../before.png" id="afr" alt="after" style="transform: rotate(180deg);"></button>
    <input type="range" min="0" max="100" value="50" id="volume_song">
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        crossorigin="anonymous"></script>
<script src="../js/Functions.js"></script>

</body>
</html>